DataAccess/Web References/ServicioMateriales/Material.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Material/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Material" targetNamespace="http://Material/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.10.108.56:8080/ServiceMateriales/Material?xsd=1" namespace="http://Material/" />
    </xsd:schema>
  </types>
  <message name="getMaterial">
    <part name="parameters" element="tns:getMaterial" />
  </message>
  <message name="getMaterialResponse">
    <part name="parameters" element="tns:getMaterialResponse" />
  </message>
  <message name="getServicio">
    <part name="parameters" element="tns:getServicio" />
  </message>
  <message name="getServicioResponse">
    <part name="parameters" element="tns:getServicioResponse" />
  </message>
  <message name="getSubClase">
    <part name="parameters" element="tns:getSubClase" />
  </message>
  <message name="getSubClaseResponse">
    <part name="parameters" element="tns:getSubClaseResponse" />
  </message>
  <portType name="Material">
    <operation name="getMaterial">
      <input wsam:Action="http://Material/Material/getMaterialRequest" message="tns:getMaterial" />
      <output wsam:Action="http://Material/Material/getMaterialResponse" message="tns:getMaterialResponse" />
    </operation>
    <operation name="getServicio">
      <input wsam:Action="http://Material/Material/getServicioRequest" message="tns:getServicio" />
      <output wsam:Action="http://Material/Material/getServicioResponse" message="tns:getServicioResponse" />
    </operation>
    <operation name="getSubClase">
      <input wsam:Action="http://Material/Material/getSubClaseRequest" message="tns:getSubClase" />
      <output wsam:Action="http://Material/Material/getSubClaseResponse" message="tns:getSubClaseResponse" />
    </operation>
  </portType>
  <binding name="MaterialPortBinding" type="tns:Material">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getMaterial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getSubClase">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Material">
    <port name="MaterialPort" binding="tns:MaterialPortBinding">
      <soap:address location="http://10.10.108.56:8080/ServiceMateriales/Material" />
    </port>
  </service>
</definitions>